{% extends 'base.html.twig' %}

{% block title %}Rubriques{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center">Nos Rubriques</h1>

        <div class="row">
            {% for rubrique in rubriques %}
                <div class="col-md-4 mb-4"> {# Chaque rubrique occupe 1/3 de la largeur de la ligne #}
                    <div class="card h-100">
                        {% if rubrique.image %}
                            <img src="{{ asset(rubrique.image) }}" class="card-img-top" alt="{{ rubrique.nomRubrique }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ rubrique.nomRubrique }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
