{% extends 'base.html.twig' %}

{% block title %}Rubrique - {{ rubrique.nomRubrique }}{% endblock %}

{% block body %}
    <h1>{{ rubrique.nomRubrique }}</h1>

    {# Affichez l'image de la rubrique #}
    {% if rubrique.image %}
        <img src="{{ asset('fil_rouge/villageGreen/public/img/r1.jpg' ~ rubrique.image) }}" alt="{{ rubrique.nomRubrique }}" />
    {% else %}
        <p>Aucune image disponible pour cette rubrique.</p>
    {% endif %}
{% endblock %}
