{% extends 'base.html.twig' %}

{% block title %}Sous-Rubriques{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Liste des Sous-Rubriques</h1>
    <div class="row">
        {% if sousRubriques is defined and sousRubriques|length > 0 %}
            {% for sousRubrique in sousRubriques %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ asset(sousRubrique.image) }}" class="card-img-top" alt="{{ sousRubrique.nomSousRubrique }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ sousRubrique.nomSousRubrique }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucune sous-rubrique disponible.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
